@media screen and (min-width: 600px) {
  .workbox_1 {
    align-items: center;
    width: 15%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    column-gap: 60%;
  }
  .workbox_2 {
    align-items: center;
    width: 25%;
    height: 40px;

    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
  }
  .workbox_3 {
    align-items: center;
    width: 15%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    column-gap: 60%;
  }
  .workbox_4 {
    align-items: center;
    width: 15%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #f8f8f8;
    padding: 10px;
    column-gap: 60%;
    border-radius: 5px;
  }
  .rowbox {
    padding-left: 15%;
  }
  .row {
    color: #2196f3;
  }
  .rowbox_1 {
    background-color: white;
    width: 74%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .subrowbox_1 {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .subrowbox_2 {
    width: 3%;
    padding-top: 8px;
  }
  .usertext {
    position: relative;
    width: 80%;
    outline: none;
    border-radius: 2px;
    padding: 0 5px;
    background-color: #f8f8f8;
  }
}

@media screen and (max-width: 600px) {
  .workbox_1 {
    align-items: center;
    width: 15%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    column-gap: 5px;
  }
  .workbox_2 {
    align-items: center;
    width: 25%;
    height: 40px;

    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
  }
  .workbox_3 {
    align-items: center;
    width: 15%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    column-gap: 5px;
  }
  .workbox_4 {
    align-items: center;
    width: 15%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #f8f8f8;
    padding: 10px;
    column-gap: 5px;
    border-radius: 5px;
  }
  .rowbox {
    padding-left: 15%;
  }
  .row {
    color: #2196f3;
  }

  .rowbox_1 {
    background-color: white;
    /* width: 74%; */
    /* margin-left: 15%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;

    /* min-height: 50vh; */
  }

  .subrowbox_1 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .subrowbox_2 {
    width: 3%;
    padding-top: 8px;
  }
  .usertext {
    position: relative;
    width: 80%;
    /* margin-left: 120px; */
    outline: none;
    /* border: 2px solid #ccc; */
    border-radius: 2px;
    padding: 0 5px;
    background-color: #131313;
  }
}
@media screen and (max-width: 820px) {
  .icon {
    display: none;
  }
  .down {
    display: none;
  }
  .deleteicon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 500px) {
  .user_content {
    display: none;
  }
  .contexttext {
    justify-content: end;
    align-content: flex-start;
  }
}
@media screen and (max-width: 380px) {
  .workbox_3 {
    display: none;
  }
}
