.c {
  overflow-y: scroll;
  background-color: #ffffff;
}
@media screen and (min-width: 650px) {
  .box {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .box_1 {
    background-color: #eeeeee;
    width: 50%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    /* position: absolute; */
  }
  .box_2 {
    /* background-color: pink; */
    width: 50%;
    justify-content: center;
    align-content: center;
  }
  .navbar {
    position: relative;
    width: 100%;
    /* max-width: 2500px; */
    /* height: 72px; */
    left: 0;
    top: 0;
    background-color: #ebecf0;
  }
  .nav_content {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
  }
  .nonactive {
    /* margin: 25px 45px; */
    color: gray;
    cursor: pointer;
  }
  .active {
    color: black;
    /* margin: 25px 45px; */
    cursor: pointer;
  }
  .othercontent {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 90vh;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .imagecontainer {
    position: relative;
    width: 70%;
    min-height: 80vh;
    background-color: #ebecf0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .imagecontainer img {
    position: absolute;
    width: 80%;
    max-width: 80%;
    max-height: 80%;
    height: auto;
    bottom: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .work_content {
    display: flex;
    flex-direction: row;
    padding: 30px;
    column-gap: 5px;

    justify-content: center;
    align-items: center;
  }
  .content {
    height: 100%;
    right: 0;
    top: 0;
    background-color: white;
    /* position: absolute; */
  }
  .clock {
    color: #2196f3;
    cursor: pointer;
  }
  .write {
    color: #2196f3;
    cursor: pointer;
  }
  .para {
    width: 80%;
    font-size: 17px;
  }
  .para p {
    padding-top: 10px;
  }
  .work_content {
    display: flex;
    width: 100%;
    height: 20vh;
    border-bottom: 1px solid #f2f2f2;
    justify-content: center;
    align-items: center;
  }
  .table_content {
    overflow-y: scroll;
    width: 100%;
    min-height: 85vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .last {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    padding: 10px;
    color: #131313;
  }
  .table {
    width: 80%;
    height: auto;
    top: 30px;
    position: relative;
  }
  .td {
    text-align: left;
    padding: 16px;
  }
  .tr {
    border-bottom: 1px solid #f2f2f2;
  }
}
@media screen and (max-width: 650px) {
  .box {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .box_1 {
    background-color: #eeeeee;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
  }
  .box_2 {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    position: relative;
    width: 100%;
    background-color: #ebecf0;
  }
  .nav_content {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
  }
  .nonactive {
    color: gray;
    cursor: pointer;
  }
  .active {
    color: black;
    cursor: pointer;
  }
  .imagecontainer {
    position: relative;
    width: 50%;
    min-height: 40vh;
    background-color: #ebecf0;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .imagecontainer img {
    position: absolute;
    width: 80%;
    max-width: 80%;
    max-height: 80%;
    height: auto;
    bottom: 20px;
  }
  .othercontent {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .content {
    width: 100%;
    padding-top: 5%;
    background-color: white;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .clock {
    color: aqua;
    cursor: pointer;
  }
  .write {
    color: aqua;
    cursor: pointer;
  }
  .para {
    font-size: 17px;
    justify-content: center;
    align-items: center;
  }
  .para p {
    padding-top: 5px;
  }
  .work_content {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
  }
  .table_content {
    overflow-y: scroll;
    width: 100%;
    min-height: 85vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .last {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    padding: 10px;
  }

  .table {
    width: 80%;
    height: auto;
    top: 30px;
    position: relative;
  }
  .td {
    text-align: left;
    padding: 16px;
  }
  .tr {
    border-bottom: 1px solid #ccc;
  }
}
@media screen and (max-width: 500px) {
  .clock {
    display: none;
  }
  .para {
    padding-left: 8px;
  }
}
